<% @tracks.order(vote_count: :desc,created_at: :asc).each do |track| %>
  <div class="track">
    <h3><a href="/tracks/<%= track.id %>"><%= track.song_title %></a> <br>
    <small>(by: <%= track.author %>)</small></h3>
    <p>
      <%= track.url %><br>
      <small>(Submitter: <%= track.submitter %>)</small>
      <h3>Total votes: <%= track.vote_count %></h3>
    </p>

  </div>
<% end %>