<p>
  Author: <%= @track.author %>
</p>

<p>
  <%= @track.song_title %>
</p>

<p>
  <small>Created at: <%= @track.created_at %></small>
</p>

<b>Votes:</b> <%= @track.vote_count %>

<% unless voted?(@track.id) %>
   <!-- post a new vote -->
   <form method="post" action="/vote">
      <input type="hidden" name="track_id" value="<%= @track.id %>">
      <input class="btn btn-success" type="submit" value="+1">
   </form>
   <!-- end post vote -->
<% else %>
  <div class="inactive">+1</div>
<% end %>

<b>Reviews:</b><br>   
<% @reviews.each do |review| %>
<ul>
  <li><em><%= review.content %></em> -- <%= review.user.username %></li>
</ul>
<% end %>
<br>

<!-- review submission form - only show if !reviewed? -->
<% unless reviewed?(@track.id) %>
  <form class="form-horizontal" method="post" action="/review" >
    <div class="form-group">
      <input type="hidden" name="track_id" value="<%= @track.id %>">
      <label class="col-sm-2 control-label">What do you think of this track?:</label>
      <div class="col-sm-10">
        <input type ="text" class="form-control" name="content">
      </div>
    </div>

    <div class="col-sm-offset-2 col-sm-10">
      <input class="btn btn-primary" type="submit" value="Add Review">
    </div>
  </form>
<% end %>

<hr/>

<a href="/tracks">Back to All tracks</a>