<p>
  Author: <%= @track.author %>
</p>

<p>
  <%= @track.song_title %>
</p>

<p>
  <small>Created at: <%= @track.created_at %></small>
</p>

<b>Votes:</b>
    <%= @track.vote_count %>
    <% unless voted?(@track.id) %>
       <!-- post a new vote -->
       <form method="post" action="/vote">
          <input type="hidden" name="track_id" value="<%= @track.id %>">
          <input class="btn btn-success" type="submit" value="+1">
       </form>
       <!-- end post vote -->
    <% else %>
      <div class="inactive">+1</div>
    <% end %>

<hr/>

<a href="/tracks">Back to All tracks</a>